.background-container{
    background: url("../assets/images/dashboard-background.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
    position: relative;
}
    