#weather-container{
    background-color:rgb(248, 252, 241);
}

@media screen and (min-width: 576px) {
#weather-container{
        background: url("../assets/images/cloud-background.jpg");
        background-position: center;
        background-size: cover;
        height: 600px;
        overflow: hidden;
        max-width: 100%;
        position: relative;
    }
}

@media screen and (min-width: 1020px) {
    #weather-container{
        height: 700px;
    }
}

 @media screen and (min-width: 576px) {
    .weather-container-overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(50, 50, 50, 0.5);
        bottom: 0;
    
    }
} 


